html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.math-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.math-header {
  background-color: rgba(65, 152, 196, 1);
  width: 100%;
  padding: 129px 80px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 991px) {
  .math-header {
    padding: 100px 20px 0 0;
  }
}

.math-header-content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

@media (max-width: 991px) {
  .math-header-content {
    flex-direction: column;
    gap: 10px;
  }
}

.math-header-column, .coming-soon-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  flex: 1;
  padding-left: 20px;
}

.math-title, .coming-soon {
  border-radius: 16px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  letter-spacing: 4px;
  padding: 20px;
  font: 400 40px/100px Coming Soon, -apple-system, Roboto, Helvetica, sans-serif;
  width: 100%;
  max-width: 400px;
  margin: 0;
  flex-grow: 0;
}

.math-title {
  background-color: rgba(239, 125, 125, 1);
}

.coming-soon {
  background-color: rgba(108, 175, 252, 1);
}

@media (max-width: 991px) {
  .math-title, .coming-soon {
    max-width: 100%;
    margin-top: 20px;
    padding: 20px;
  }
}

.games-section {
  background-color: rgba(169, 226, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-grow: 0;
  min-height: 100vh;
  padding: 150px 70px 100px 100px;
}

@media (max-width: 991px) {
  .games-section {
    padding: 100px 20px;
  }
}

.games-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 520px;
  width: 100%;
}

.game-button {
  border-radius: 28px;
  background-color: rgba(239, 125, 125, 1);
  color: rgba(255, 255, 255, 1);
  text-align: center;
  letter-spacing: 4px;
  padding: 56px 70px;
  font: 400 40px/100px Coming Soon, -apple-system, Roboto, Helvetica, sans-serif;
  border: none;
  cursor: pointer;
  width: 300px;
}

@media (max-width: 991px) {
  .game-button {
    width: 100%;
    padding: 20px;
  }
}
