<!-- TÄÄ TIEDOSTO TOIMII PELKÄSTÄÄN FLASK YHTEYDEN KAUTTA -->
<!DOCTYPE html>
<!-- Kieli on suomi -->
<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <!-- Viewportin avulla sivu skaalautuu laitteelle sopivaksi -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opikku</title>
    <!-- <link rel="stylesheet" href="styles.css" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
  </head>
  <body>
    <!-- Headerin sisältö (eka osio sivusta) -->
    <header class="header-section" >
      <div class="header-top">
        
        <h1 class="site-title" >OPIKKU</h1>
        <div class="avatar-placeholder"></div>
      </div>
      <div class="header-bottom">
        <div class="nav-buttons">
          <!-- Matematiikka-nappi ja alasvetovalikko -->
          <div class="dropdown">
            <button class="dropbtn">Matematiikka</button>
            <div class="dropdown-content">
              <a href="#">3. luokka</a>
              <a href="#">4. luokka</a>
              <a href="#">5. luokka</a>
              <a href="#">6. luokka</a>
            </div>
          </div>
          <!-- Tulossa-nappi -->
          <button class="coming-soon-btn">Tulossa</button>
        </div>
      </div>
    </header>
    <!-- Pelivalikko (toka osio sivulla)-->
    <section class="games-section">
      <div class="games-container">
        <!-- button
          class="game-button"
          tabindex="0"
          onclick="window.location.href='peli1.html';"
        >Peli 1</button> -->
        <div class="dropdown">
          <button class="game-button dropbtn">Kertolaskut</button>
          <div class="dropdown-content">
            <a href="{{ url_for('peli', pelin_id=1) }}">1 kertotaulu</a>
            <a href="{{ url_for('peli', pelin_id=2) }}">2 kertotaulu</a>
            <a href="{{ url_for('peli', pelin_id=3) }}">3 kertotaulu</a>
            <a href="{{ url_for('peli', pelin_id=4) }}">4 kertotaulu</a>
            <a href="{{ url_for('peli', pelin_id=5) }}">5 kertotaulu</a>
            <a href="{{ url_for('peli', pelin_id=6) }}">6 kertotaulu</a>
            <a href="{{ url_for('peli', pelin_id=7) }}">7 kertotaulu</a>
            <a href="{{ url_for('peli', pelin_id=8) }}">8 kertotaulu</a>
            <a href="{{ url_for('peli', pelin_id=9) }}">9 kertotaulu</a>
            <a href="{{ url_for('peli', pelin_id=10) }}">10 kertotaulu</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="game-button dropbtn">Peruslaskutoimitukset</button>
          <div class="dropdown-content">
            <a href="#">Yhteenlaskut</a>
            <a href="#">Miinuslaskut</a>
            <a href="#">Laskutoimituksia</a>
          </div>
        </div>
        <button class="game-button" tabindex="0">Mittayksiköt</button>
        <button class="game-button" tabindex="0">Murtoluvut</button>
        <button class="game-button" tabindex="0">Desimaaliluvut</button>
        <button class="game-button" tabindex="0">Kello</button>
      </div>
    </section>
  </body>
</html>