<!DOCTYPE html>
<!-- Kieli on suomi -->
<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <!-- Viewportin avulla sivu skaalautuu laitteelle sopivaksi -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opikku</title>
    <!-- <link rel="stylesheet" href="styles.css" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
  </head>
  <body>
    <!-- Headerin sisältö (eka osio sivusta) -->
    <header class="header-section" >
      <div class="header-top">
        <img class="site-title" src="{{ url_for('static', filename='kuvat/logoWhite.png') }}" alt="Logo valkoinen">
        <div class="avatar-dropdown">
          <button class="icon-button" aria-label="Menu">
                <img loading="lazy" src="{{ g.user_avatar_url }}" class="icon-image" alt="Avatar" style="width: 100%; height: 100%; border-radius: 50%;" />
          </button>
          <div class="dropdown-content">
            <a href="{{ url_for('student_info') }}">Profiili</a>
            <a href="{{ url_for('avatar') }}">Avatar</a>
            <a href="{{ url_for('logout') }}">Kirjaudu ulos</a>
          </div>
        </div>
      </div>
      <div class="header-bottom">
        <div class="nav-buttons">
          <a href="{{ url_for('frontPage') }}">
            <button class="coming-soon-btn">Etusivu</button>
          </a>
          <!-- Matematiikka-nappi ja alasvetovalikko -->
          <div class="dropdown">
            <button class="dropbtn">Matematiikka</button>
            <div class="dropdown-content">
              <a href="{{ url_for('math_menu', grade=3) }}">3. luokka</a>
              <a href="{{ url_for('math_menu', grade=4) }}">4. luokka</a>
              <a href="{{ url_for('math_menu', grade=5) }}">5. luokka</a>
              <a href="{{ url_for('math_menu', grade=6) }}">6. luokka</a>
            </div>
          </div>
          <!-- Tulossa-nappi -->
          <button class="coming-soon-btn">Tulossa</button>
        </div>
      </div>
    </header>
    <!-- Pelivalikko (toka osio sivulla)-->
    <section class="games-section">
      <div class="games-container">
        <a href="{{ url_for('peli', pelin_id=31) }}">
          <button class="game-button">Laskujärjestys</button>
        </a>
        <a href="{{ url_for('peli', pelin_id=32) }}">
          <button class="game-button">Desimaaliluvut</button>
        </a>
        <a href="{{ url_for('peli', pelin_id=33) }}">
          <button class="game-button">Murtolukujen jako</button>
        </a>
        <a href="{{ url_for('peli', pelin_id=34) }}">
          <button class="game-button">Prosenttilaskut</button>
        </a>
        <a href="{{ url_for('peli', pelin_id=35) }}">
          <button class="game-button">Pinta-ala</button>
        </a>
      </div>
    </section>
  </body>
</html>