<!DOCTYPE html>
<html lang="fi">
<head>
  <meta charset="UTF-8">
  <title>Oppilas avatar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='info.css') }}">
</head>
<body>
<!-- Headerin sisältö (eka osio sivusta) -->
<header class="header-section">
  <div class="header-top">
    <img class="site-title" src="{{ url_for('static', filename='Kuvat/logoWhite.png') }}" alt="Logo valkoinen">
  </div>
  <div class="header-bottom">
    <div class="nav-buttons">
      <!-- takaisin nappi -->
      <button class="coming-soon-btn" onclick=window.location.href="{{ url_for('student_info') }}">Takaisin</button>
      <!-- Tulossa-nappi -->
    </div>
  </div>
</header>
<div class="container2">
  <div class="content2">
    <div class="main-area2">
      <div class="left-circle">
        <div class="big-circle">
          <img id="big-avatar" src="{{ url_for('static', filename='Kuvat/mattiAvatar.png') }}" alt="User Avatar" class="avatar-img" />
        </div>
      </div>
      <div class="right-circles">
        <div class="small-circle">
          <img class="avatar-img" src="{{ url_for('static', filename='Kuvat/mattiAvatar.png') }}" alt="User Avatar" onclick="changeAvatar(this)">
        </div>
        <div class="small-circle">
          <img class="avatar-img" src="{{ url_for('static', filename='Kuvat/bunnyAvatar.png') }}" alt="User Avatar" onclick="changeAvatar(this)">
        </div>
        <div class="small-circle">
          <img class="avatar-img" src="{{ url_for('static', filename='Kuvat/doggyAvatar.png') }}" alt="User Avatar" onclick="changeAvatar(this)">
        </div>
        <div class="small-circle">
          <img class="avatar-img" src="{{ url_for('static', filename='Kuvat/doggyAvatar.png') }}" alt="User Avatar" onclick="changeAvatar(this)">
        </div>
      </div>
    </div>
    <div class="buttons">
      <button class="coming-soon-btn">Tallenna</button>
    </div>
  </div>
</div>
<script>
  function changeAvatar(element) {
    document.getElementById('big-avatar').src = element.src;
  }
</script>
</body>
</html>
